.home-container {
    border: 1px solid black;
    height: 90vh;
    width: 90%;
}
.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 90%;
}
.arrange-in-row {
    display: flex;
}

.line-break {
    color: gray;
    width: 90%;
}